* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: calc(100vh + 1000px);
}

._container {
  max-width: 1440px;
  padding: 15px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ----------header-menu------------------------------------------------------- */

.header__logo-img {
  width: 140px;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__items {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  text-align: center;
  align-items: center;
}

.menu__item {
  /* width: px; */
  height: 19px;
  /* margin: 0 40px 0 0; */
}

.header__menu {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* padding-left: 104px; */
}

.menu__link {
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}

.header__sing {
  display: flex;
}

.sing__item-up {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 45px 13px 45px;
  border: 2px;
  border-radius: 40px;
  background: transparent;
  color: #F53855;
  position: relative;
}

.sing__item-up:after {
  position: absolute;
  left: 0;
  top: 0;
  content: ' ';
  width: 100%;
  height: 100%;
  border: 1px solid #F53855;
  border-radius: 40px;
  border-right-width: 0;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform .3s, border .1s .3s;
  box-sizing: border-box;
}

.sing__item-up:hover:after {
  transform: scaleX(1);
  border-right-width: 1px;
}

.sing__item-in {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 45px 13px 45px;
  border: 2px;
  border-radius: 40px;
  background: transparent;
  position: relative;
  color: #0B132A;
}

.sing__item-in:after {
  position: absolute;
  left: 0;
  top: 0;
  content: ' ';
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 40px;
  border-right-width: 0;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform .3s, border .1s .3s;
  box-sizing: border-box;
}

.sing__item-in:hover:after {
  transform: scaleX(1);
  border-right-width: 1px;
}

.hamburger {
  display: none;
  flex-direction: column;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 2000;
}

.hamburger span {
  height: 3px;
  width: 30px;
  border-radius: 5px;
  display: block;
  background-color: #000;
  margin-bottom: 5px;
  transition: all 0.4s;
}

.hamburger.hamburger-active {
  display: flex;
}

.hamburger span:last-child {
  margin-bottom: 0;
}

.hamburger.hamburger-active span:first-child {
  transform: rotateZ(45deg) translateY(6px);

}
.hamburger.hamburger-active span:last-child {
  transform: rotateZ(-45deg) translateY(-5px);
}
.hamburger.hamburger-active span:nth-child(2) {
  display: none;
}

.menu__overlay {
  display: block;
  position: fixed;
  left: -100%;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.6);
  z-index: 0;
  transition: all 1s;
}

.menu__phone {
  width: 40%;
  height: 100vh;
  background-color: rgba(0,0,0,.9);
  z-index: 1000;
  padding: 40px;
}

.menu__phone > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}



/* media */

@media (max-width: 768px) {
  .header__body {
      flex-direction: column;
  }
  .header__body .header__menu ul {
      margin-top: 25px;
  }
  .header__sing {
      margin-top: 25px;
  }

  .menu__items {
    display: none;
  }

  .sing__item-up {
      margin-right: 0;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 426px) {
  
  .header__sing {
      display: flex;
      gap: 20px;
  }
  .header__sing a {
      padding: 10px;
  }
}

@media (max-width: 320px) {
  /* code */
}

@media (max-width: 325px) {
  .menu__items {
      flex-direction: column;
  }
  .header__logo-img {
      margin-top: 14px;
  }
}

.menu__overlay.menu-active {
  /* display: block; */
  left: 0;
}